.addButton {
  background-color: #4f2de7;
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 4px;
  color: white;
  margin: 4px;
}

table {
  color: white;
  padding: 20px;
  thead {
    background-color: #262626;
  }
  tr {
    height: 38px;
  }
  td {
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  tbody {
    background-color: #1c1c1c;
  }
}
.mileButton {
  background-color: #34d54f;
  padding: 1px;
  border-radius: 8px;
  margin: 1px;
  width: 100px;
  color: white;
}
.mileButton1 {
  background-color: #34d54f;
  padding: 1px;
  border-radius: 8px;
  margin: 1px;
  width: 90%;
  color: white;
}
.chalButton {
  background-color: #af3030;
  padding: 1px;
  border-radius: 8px;
  margin: 1px;
  width: 100px;
  color: white;
}
.chalButton1 {
  background-color: #af3030;
  padding: 1px;
  border-radius: 8px;
  margin: 1px;
  width: 90%;
  color: white;
}
.chapter {
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;

  .next {
    background-color: #24dd1e;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 10px;
  }
}
.chartRed {
  background-color: red;
  height: 38px;
  width: 50px;
  text-align: center;
  margin: auto;
}
.chartOrange {
  background-color: orange;
  height: 38px;
  width: 50px;
  text-align: center;
  margin: auto;
}

.chartGreen {
  background-color: green;
  height: 38px;
  width: 50px;
  text-align: center;
  margin: auto;
}

.critical {
  color: red !important;
}

.warning {
  color: orange !important;
}

.normal {
  color: green !important;
}
.MuiSlider-rail {
  color: #1c1c1c !important;
}
.MuiSlider-track {
  width: 60px !important;
  border-radius: 0px !important;
}
.MuiSlider-thumb {
  border-radius: 0px !important;
  width: 60px !important;
  box-shadow: none !important;
  height: 0px !important;
}
