.addButton {
  background-color: #4f2de7;
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 4px;
  color: white;
  margin: 4px;
}

table {
  color: white;
  width: 100%;
  padding: 20px;
  thead {
    background-color: #262626;
  }
  tr {
    height: 38px;
  }
  td {
    padding: 0px;
    margin: 0px;
  }
  tbody {
    background-color: #1c1c1c;
  }
}
.mileButton {
  background-color: #34d54f;
  padding: 1px;
  border-radius: 8px;
  margin: 1px;
  width: 100px;
  color: white;
}
.chalButton {
  background-color: #af3030;
  padding: 1px;
  border-radius: 8px;
  margin: 1px;
  width: 100px;
  color: white;
}
.chapter {
  display: flex;
  padding: 20px;
  justify-content: flex-end;

  .next {
    background-color: #24dd1e;
    padding: 10px;
    margin: 10px;
    color: white;
    border-radius: 10px;
  }
}
.chartRed {
  background-color: red;
  height: 38px;
  width: 50px;
  text-align: center;
  margin: auto;
}
.chartOrange {
  background-color: orange;
  height: 38px;
  width: 50px;
  text-align: center;
  margin: auto;
}

.chartGreen {
  background-color: green;
  height: 38px;
  width: 50px;
  text-align: center;
  margin: auto;
}
